.AboutImgD{
    display: flex;
    flex-direction: row;
    height: 40rem;
    width: 100%;
    gap: 20px;
    padding: 3%;
    align-items: center;
}

.AboutImgD img{
    width: 100%;
    max-width: 550px;
    height: 100%;
    object-fit: cover;
}

.AboutImgD .desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding-top: 5%;
}

.AboutImgD .desc h1{
    color: #01a2ff;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 2rem;
}

.AboutImgD .desc p{
    color: #333;
    font-weight: 300;
    font-size: 0.9rem;
}

@media only screen and (max-width: 767px) {
    /* CSS rules for mobile devices */
    /* CSS rules for tablets */
    .AboutImgD{
        flex-direction: column;
        height: 55rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* CSS rules for tablets */
    
    .AboutImgD{
        display: flex;
        flex-direction: row;
        height: 26rem;
        width: 100%;
        gap: 20px;
        padding: 3%;
        align-items: center;
    }
    
}
